[Dd]ebug/
[Rr]elease/
x64/
*.exe
*.o
*.obj
*.ilk
*.pdb
*.idb
*.opendb
*.tlog
*.log

.vs/
*.sln
*.vcxproj.user
*.vcxproj.filters
*.suo
*.user
*.aps
*.sdf
*.opensdf

*.pch
*.ipch
*.res
*.exp
*.lib
*.dll

.DS_Store
Thumbs.db